.toolbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar button {
  font-size: 1rem;
  padding: 0.35rem 1rem;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  color: #fff;
}

.form {
  margin-inline: auto;
  max-width: 50rem;
  margin-bottom: 25rem;
}