.banner_container {
  /* Set first term equal to RESULTS_PER_PAGE constant */
  min-height: calc(5 * 98px);
}

.link_row {
  text-align: center;
}

.link_row button {
  font-size: 1.2rem;
  margin-inline: 0.25rem;
}

.link_row .active {
  color: rgb(48 150 48);
}

.toolbar {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 360px) {
  .toolbar {
    flex-direction: column;
  }
}

.toolbar button {
  font-size: 1rem;
  padding: 0.35rem 1rem;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  color: #fff;
}

.form {
  margin-inline: auto;
  max-width: 50rem;
  margin-bottom: 25rem;
}