.navbar {
}

.upper * {
  margin: 0 1rem;
}

.upper {
  padding: 1rem 0;
  color: #fff;
  background-color: rgb(99, 156, 99);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper h2 {
  display: inline;
}

.upper button {
  margin: 0 0.15rem;
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 0.25rem;
  background-color: inherit;
}

.upper input[type="text"] {
  padding: 0.5rem 0;
  color: inherit;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid white;
}

.lower {
  padding: 0.75rem 0;
  border-bottom: 1px solid #ccc;
}

.lower a {
  margin: 0 2rem;
}
