.container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0.2em auto;
  max-width: 45rem;
}

@media (max-width: 365px) {
  .container {
    flex-direction: column;
  }
}

.left {
  display: flex;
}

.avatar {
  margin-left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  background-color: var(--main-bg-color);
  font-weight: 700;
  font-size: 1.3rem;
  color: #fff;
}

@media (max-width: 365px) {
  .avatar {
    display: none;
  }
}

.body {
  margin-left: 1rem;
  overflow: hidden;
}

.body h6 {
  font-size: 1rem;
  max-height: 85px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.body p {
  font-size: 0.9rem;
  font-weight: 400;
}